@import "tailwindcss";

@font-face {
  font-family: "UncutSans";
  src: url("/fonts/UncutSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UncutSans";
  src: url("/fonts/UncutSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UncutSans";
  src: url("/fonts/UncutSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UncutSans";
  src: url("/fonts/UncutSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-uncut-sans: "UncutSans", system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Для всіх браузерів */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #212121; */
  background: #787457;
  background: linear-gradient(
    90deg,
    rgba(120, 116, 87, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(120, 116, 87, 1) 100%
  );
  overflow-x: hidden;
  font-family: var(--font-uncut-sans);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  main {
    @apply overflow-x-hidden;
  }
  .hero {
    @apply w-full h-dvh relative;
  }
}

.mask-wrapper {
  /* маска через картинку */
  -webkit-mask-image: url("/images/portfolio.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url("/images/portfolio.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
